.development {
    margin: 2% 7%;
}
.dev_text {
     margin-left: 40px;
}
.dev_heading {
    font-size: 4.3em;
    margin: 10px 0px;
}
.dev_para {
    font-size: 1.2em;
}
.dev_cards {
    margin : 10px 0px;
    display: flex;
    flex-wrap: wrap;
}