.forms {
    margin: 15px;
}
.forms_div { 
    margin: auto;
    max-width: 600px;
    min-height : 450px;
    border: 1px solid rgb(184, 183, 183);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.input_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input_fields input {
    width: 220px;
    height: 20px;
    padding: 10px;
    margin: 10px 20px;
    background-color: #1B2430;
    color: white;
    border: 1.5px solid rgb(184, 183, 183);
    border-radius: 8px;
    outline: none;
    font-size: medium;
}
.input_fields input:focus {
    border: 1.5px solid #7CC9CE;
    box-shadow: inset 1px 1px 2px #69abaf,
            inset -1px -1px 2px #8fe7ed;
    color: #7CC9CE;
}
.big_text {
    max-width: 500px;
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 10px 20px;
    background-color: #1B2430;
    color: white;
    border: 1.5px solid rgb(184, 183, 183);
    border-radius: 8px;
    align-items: normal;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.form_button {
    background-color: #4C93CE;
    border : 2px solid #4C93CE ;
    border-radius : 8px;
    width : 200px;
    color: white;
    padding: 10px;
    font-weight: 400;
    font-size: 1.1em;
    margin: 20px;
}

@media (max-width : 600px) and (min-width : 300px) {
    .big_text {
        width: auto;
        height: 150px;
        min-width: 280px;
    }
    .input_fields input {
        width: 280px;
        margin: 5px ;
    }
    .forms_div:first-child {
        font-size: .75em;
    }
    .forms h2 {
        font-size: 1em;
        font-weight: 500;
    }
}