
.navbar_list_2 {
    display: flex;
    justify-items: center;
    margin: 5px;
    padding: 5px;
}
.navbar_listItem {
    list-style: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.navbar_list_3 {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
}
.contact_button {
    background: #4C93CE;
    border: 2px solid #4C93CE;
    border-radius: 6px;
    color: white;
    font-size: large;
    height: 50px;
    padding: 5px 23px;
    cursor: pointer;
}