.home {
    height: 650px;
    width: auto;
}
.bg-image {
    background-image: url("../assets/top_background.png");
  
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero_content {
    display: flex;
    flex-wrap: wrap;
    color: white;
    transform: translate(0, -150%);
    z-index: 2;
    justify-content: center;
    /* align-items: center; */
  }
  .hero_text {
    align-items: left;
    padding-top: 20px;

  }
  .hero_text img {
    height: 330px;
    width: 530px;
  }
  .hero_gif img {
    height : 370px;
    width : 620px
  }
